::selection {
    background: #000;
    color: #000;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

body {
    font-family: 'Pathway Gothic One', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
        /** Background from: http://svgeneration.com/ */
    background-color: #e6e68f;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PScxMDAnIHZpZXdCb3g9JzAgMCA1IDEwJz4KCTxwYXRoIGQ9J00wLDBsNSw1bC01LDVtLTEsLTZsMSwxbC0xLDFNNCwtMWw2LDZsLTYsNicgZmlsbC1vcGFjaXR5PScwJyBzdHJva2U9JyNiZGJkYmQnIHN0cm9rZS13aWR0aD0nMS43Jy8+Cjwvc3ZnPg==');
}

a {
    -webkit-transition: all 310ms ease;
    -moz-transition: all 310ms ease;
    transition: all 310ms ease;
    text-decoration: none;
}

section {
    position: relative;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-default {
    background-color: #9B7FC2;
    border-color: #e6e68f;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #D2CBDB;
    text-decoration: underline;
}

#topper {
    margin-top: 51px;
    height: 250px;
    text-align: center;
         

}
.jumbotron h1 {
    color: #9B7FC2;
    margin: 0;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    
     /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px black;
      
    /* If we weren't using text-shadow, we'd set a fallback color
       and use this to set color instead
      -webkit-text-fill-color: white; */
    
    color: white;
      
    text-shadow:
      0px 1px 0 #000,

      0px 0px 0 #000,  
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;

      text-shadow: 1px 1px 30px rgba(191, 165, 194, 1);
}

.jumbotron h1 i {
    color: rgb(255, 157, 157);
}

#site-footer {
    background: #9B7FC2;
    padding: 12.5px 0;
    color: #e3e3e3;
    font-size: 18px;
    text-align: right;
    border-radius: 4px;
    border: 1px solid #e6e68f;
}

#site-footer .row {
    margin: 0 15px;
}

#site-footer a {
    color: #fff;
}

#site-footer a:hover {
    color: rgb(144, 255, 184);
}